<!DOCTYPE html>
<html>
<head>
    <title>This is the example app!</title>
    <script type="text/javascript" src="assets/main.js"></script>
  <link rel="stylesheet" type="text/css"
  href="assets/styles.css" />
</head>
<body>
  <div class='container'>
    {{{body}}}
  </div>
</body>
</html>
